In [10]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [11]:

dbName = "Publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [12]:
import sqlalchemy as db
from getpass import getpass

In [13]:
import pandas as pd

In [14]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [17]:
df = pd.read_sql_query("""
SELECT t.title_id, ta.au_id, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS ROYALTIES
	FROM titles AS t
    RIGHT JOIN titleauthor AS ta ON t.title_id=ta.title_id
    LEFT JOIN sales AS s ON ta.title_id= s.title_id
    GROUP BY ta.au_id, t.title_id
""", engine)
df

   title_id        au_id  ROYALTIES
0    PS3333  172-32-1176     29.985
1    BU1032  213-46-8915     11.994
2    BU2075  213-46-8915     25.116
3    PC1035  238-95-7766    110.160
4    BU1111  267-41-2394     11.950
5    TC7777  267-41-2394      8.994
6    BU7832  274-80-9391     29.985
7    BU1032  409-56-7008     17.991
8    PC8888  427-17-2319     50.000
9    TC7777  472-27-2349      8.994
10   PC9999  486-29-1786        NaN
11   PS7777  486-29-1786     19.975
12   TC4203  648-92-1872     33.460
13   TC7777  672-71-3249     11.992
14   MC2222  712-45-1867     23.988
15   MC3021  722-51-5454     21.528
16   BU1111  724-80-9391     17.925
17   PS1372  724-80-9391     10.795
18   PS1372  756-30-7391     32.385
19   TC3218  807-91-6654     83.800
20   PC8888  846-92-7186     50.000
21   MC3021  899-46-2035      7.176
22   PS2091  899-46-2035     70.956
23   PS2091  998-72-3567     70.956
24   PS2106  998-72-3567     17.500

In [18]:
df2 = pd.read_sql_query("""
SELECT au_id, title, tl.advance, royal
FROM (SELECT t.title_id, ta.au_id, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS royal
		FROM titles AS t
		RIGHT JOIN titleauthor AS ta ON t.title_id=ta.title_id
		LEFT JOIN sales AS s ON ta.title_id= s.title_id
		GROUP BY ta.au_id, t.title_id) as q
        RIGHT JOIN titles as tl ON tl.title_id = q.title_id
        order by royal desc
        LIMIT 3
""", engine)
df2

,au_id,title,advance,royal
0,238-95-7766,But Is It User Friendly?,7000.0,110.160
1,807-91-6654,"Onions, Leeks, and Garlic: Cooking Secrets of ...",7000.0,83.800
2,998-72-3567,Is Anger the Enemy?,2275.0,70.956

In [27]:
df_temporal = pd.read_sql_query("""
    CREATE TEMPORARY TABLE  temporal3(
        SELECT t.title_id, ta.au_id, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS NEW
            FROM titles AS t
            RIGHT JOIN titleauthor AS ta ON t.title_id=ta.title_id
            LEFT JOIN sales AS s ON ta.title_id= s.title_id
            GROUP BY ta.au_id, t.title_id)
""", engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [28]:
df3 = pd.read_sql_query("""
    SELECT tm.au_id, tm.title_id, tl.advance, tm.NEW	
	FROM temporal3 as tm
    RIGHT JOIN titles as tl ON tl.title_id = tm.title_id
	order by NEW desc
	LIMIT 3
""", engine)
df3

         au_id title_id  advance      NEW
0  238-95-7766   PC1035   7000.0  110.160
1  807-91-6654   TC3218   7000.0   83.800
2  899-46-2035   PS2091   2275.0   70.956

In [29]:
df4 = pd.read_sql_query("""
CREATE TABLE resultados
  AS (SELECT au_id, title, tl.advance, royal
        FROM (SELECT t.title_id, ta.au_id, SUM(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS royal
		FROM titles AS t
		RIGHT JOIN titleauthor AS ta ON t.title_id=ta.title_id
		LEFT JOIN sales AS s ON ta.title_id= s.title_id
		GROUP BY ta.au_id, t.title_id) as q
        RIGHT JOIN titles as tl ON tl.title_id = q.title_id
        order by royal desc
        LIMIT 3
);
""", engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.